<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${car.name}"></title>
</head>
<head th:insert="blocks/head :: head"></head>
<body>
<div th:insert="blocks/nav :: nav"></div>
<h1 class="text-center text-white d-none d-lg-block site-heading"
    style="margin-top: 0px;padding-top: 80px;position: relative;text-shadow: 0px 0px 20px var(--bs-black);">
    <span class="fw-semibold site-heading-lower" th:text="${car.name}"></span>
</h1>
<section th:if="${role == 'MANAGER' or user.id == car.owner.id}" class="page-section clearfix"
         style="position: relative;">
    <div class="container bg-faded"
    style="padding: 12px 16px;margin-bottom: 20px;">
        <div class="row" style="padding: 5px;margin-bottom: 5px;border-radius: 10px;">
            <div class="col d-xl-flex justify-content-xl-start align-items-xl-center">
                <p class="lead">Статус:&nbsp;<span th:text="${car.status.name}"></span></p>
            </div>
            <div th:if="${user.id == car.owner.id and (car.status.name() == 'SOLD' or car.status.name() == 'REFUSED')}"
                 class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                <a class="btn btn-primary" role="button" th:href="'/cars/waiting/' + ${car.id}" style="width: 100%;">На
                    рассмотрение</a>
            </div>
            <div th:if="${user.id == car.owner.id and car.status.name() == 'ACTIVE'}"
                 class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                <a class="btn btn-dark" role="button" th:href="'/cars/sold/' + ${car.id}"
                   style="width: 100%;">Продано</a>
            </div>
            <div th:if="${user.id == car.owner.id}"
                 class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                <a class="btn btn-warning" role="button" th:href="'/cars/edit/' + ${car.id}" style="width: 100%;">Редактировать</a>
            </div>
            <div th:if="${user.id == car.owner.id}"
                 class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                <a class="btn btn-danger" role="button" th:href="'/cars/delete/' + ${car.id}" style="width: 100%;">Удалить</a>
            </div>
            <div th:if="${role == 'MANAGER' and car.status.name() == 'WAITING'}"
                 class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                <a class="btn btn-success" role="button" th:href="'/cars/conf/' + ${car.id}" style="width: 100%;">Подтверждено</a>
            </div>
            <div th:if="${role == 'MANAGER' and car.status.name() == 'WAITING'}"
                 class="col d-xl-flex justify-content-xl-center align-items-xl-center">
                <a class="btn btn-info" role="button" th:href="'/cars/refused/' + ${car.id}" style="width: 100%;">Отказано</a>
            </div>
        </div>
    </div>
</section>
<section class="page-section clearfix" style="position: relative;">
    <div class="container bg-faded"
    style="padding: 12px 16px;margin-bottom: 20px;">
        <div class="row" style="padding: 5px;margin-bottom: 5px;border-radius: 10px;">
            <div class="col">
                <p class="lead">Название машины:&nbsp;<span th:text="${car.name}"></span></p>
            </div>
            <div class="col">
                <p class="lead">Год выпуска:&nbsp;<span th:text="${car.description.year}"></span></p>
            </div>
            <div class="col">
                <p class="lead">Пробег:&nbsp;<span th:text="${car.description.mileage}"></span></p>
            </div>
        </div>
        <div class="row" style="padding: 5px;margin-bottom: 5px;border-radius: 10px;">
            <div class="col">
                <p class="lead">Страна производства:&nbsp;<span th:text="${car.description.origin}"></span></p>
            </div>
            <div class="col">
                <p class="lead">Город продажи:&nbsp;<span th:text="${car.description.citySale}"></span></p>
            </div>
            <div class="col">
                <p class="lead">Марка машины:&nbsp;<span th:text="${car.description.brand}"></span></p>
            </div>
        </div>
        <div class="row" style="padding: 5px;margin-bottom: 5px;border-radius: 10px;">
            <div class="col">
                <p class="lead">Тип кузова:&nbsp;<span th:text="${car.description.bodyType.name}"></span></p>
            </div>
            <div class="col">
                <p class="lead">Коробка передач:&nbsp;<span th:text="${car.description.transmission.name}"></span></p>
            </div>
            <div class="col">
                <p class="lead">Топливо:&nbsp;<span th:text="${car.description.fuel.name}"></span></p>
            </div>
        </div>
        <div class="row" style="padding: 5px;margin-bottom: 5px;border-radius: 10px;">
            <div class="col">
                <p class="lead">Цена:&nbsp;<span th:text="${car.price}"></span></p>
            </div>
            <div class="col">
                <p class="lead">Телефон номер:&nbsp;<span th:text="${car.tel}"></span></p>
            </div>
        </div>
        <div class="row" style="padding: 5px;margin-bottom: 5px;border-radius: 10px;">
            <div class="col">
                <p class="lead">Описание:&nbsp;<span th:text="${car.description.description}"></span></p>
            </div>
        </div>
        <div class="row d-xl-flex justify-content-xl-center"
             style="padding: 5px;margin-bottom: 5px;border-radius: 10px;">
            <div class="col-6">
                <div id="carouselExampleRide" class="carousel slide" data-bs-ride="true">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img th:src="'/img/' + ${car.photos[0]}" class="d-block rounded-5 w-100">
                        </div>
                        <div th:each="p : ${car.getPartPhotos()}" class="carousel-item">
                            <img th:src="'/img/' + ${p}" class="d-block rounded-5 w-100">
                        </div>
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleRide"
                            data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="page-section clearfix" style="position: relative;">
    <div class="container bg-faded"
    style="padding: 12px 16px;margin-bottom: 20px;">
        <form th:action="'/cars/' + ${car.id} + '/comment/add/'" method="post">
            <div class="row" style="padding: 5px;margin-bottom: 5px;border-radius: 10px;">
                <div class="col">
                    <input class="form-control" type="text" name="text" required>
                </div>
                <div class="col-1 d-xl-flex justify-content-xl-center">
                    <button class="btn btn-success" type="submit">Добавить</button>
                </div>
            </div>
        </form>
    </div>
</section>
<section th:if="${car.comments.size() > 0}" class="page-section clearfix" style="position: relative;">
    <div class="container" style="border-radius: 10px;">
        <div th:each="c : ${car.comments}" class="row bg-faded"
         style="padding: 12px 16px;margin-bottom: 20px;">
            <div class="col-12">
                <p class="lead">
                    <span th:text="${c.username}"></span>&nbsp;|&nbsp;<span th:text="${c.date}"></span>
                </p>
            </div>
            <div class="col-12">
                <p class="lead" th:text="${c.text}"></p>
            </div>
        </div>
    </div>
</section>
<script src="/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.11.1/baguetteBox.min.js"></script>
<script src="/js/current-day.js"></script>
<script src="/js/Lightbox-Gallery.js"></script>
</body>

</html>