<nav th:fragment="nav" class="navbar navbar-dark navbar-expand-lg py-lg-4" id="mainNav">
    <div class="logo-wrapper">
        <div style="color: orangered;">Birdy</div>
        <div style="color: #fff;"> Cars</div>
    </div>
    <div class="container">
        <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navbarResponsive">
            <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item"><a class="nav-link" href="/" style="color: var(--bs-white);">Главная</a></li>
                <li class="nav-item"><a class="nav-link" href="/map" style="color: var(--bs-white);">Мы на крате</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/stats" style="color: var(--bs-white);">Деятельность</a></li>
                <li th:if="${role == 'ADMIN'}" class="nav-item"><a class="nav-link" href="/users" style="color: var(--bs-white);">Аккаунты</a></li>
                <li th:if="${role == 'MANAGER'}" class="nav-item"><a class="nav-link" href="/cars/apps" style="color: var(--bs-white);">Оформление машин</a></li>
                <li th:if="${role == 'CLIENT'}" class="nav-item"><a class="nav-link" href="/cars/my" style="color: var(--bs-white);">Автомобили</a></li>
                <li th:if="${role == 'CLIENT'}" class="nav-item"><a class="nav-link" href="/cars/add" style="color: var(--bs-white);">Добавить</a></li>
                <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/login" style="color: var(--bs-white);">Авторизация</a></li>
                <li th:if="${role == 'NOT'}" class="nav-item"><a class="nav-link" href="/reg" style="color: var(--bs-white);">Новая учетная запись</a></li>
                <li th:if="${role != 'NOT'}" class="nav-item"><a class="nav-link" href="/logout" style="color: var(--bs-white);">Выход</a></li>
                <li th:if="${role != 'NOT'}" class="nav-item"><a class="nav-link" href="/news" style="color: var(--bs-white);">Новости</a></li>

            </ul>
        </div>
    </div>
    <div class="background-photo"></div>
</nav>